.newslist {
  max-width: 500px;
  margin: 0 auto;
}
 
@media screen and (max-width: 800px) {
  .newslist {
    font-size: 12px;
    padding: 0 15px;
  }
}
 
.newslist li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px 10px;
  border-top: 2px solid black;
  line-height: 1.5;
}
 
.newslist li:last-child {
  border-bottom: 2px solid black;
}
 
.newslist li time {
  padding-right: 20px;
}
 
.newslist li a {
  color: cornflowerblue;
  text-decoration: none;
}

